h3 {
  margin: 10px;
}

.links {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.links li {
  margin-left: 0;
  margin-right: auto;
}

.links a {
  color: #ff9c00;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}


