body {
  background-color: black;
  font-family: monospace;
  color: #ff9c00;
  font-size: clamp(16pt, 2vw, 18pt);
}

#container {
  max-width: 1000px;
  position: center;
  margin: 0 auto;
}

#container h1 {
  font-size: 22pt;
  padding-top: 30px;
}

#container h3 {
  font-size: 18pt;
  padding-top: 10px;
}


