.page-body {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

.references {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

a {
  color: #ff9c00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page-body img, .img-desc{
  width: 100%;
  text-align: center;
  max-width: 700px;
  display: block;
  margin: auto;
}

.page-body hr {
  color: #ff9c00
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
