body {
  background-color: black;
  font-family: monospace;
  color: orange;
  font-size: 20pt;
}

#menu-bar {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu-bar a {
  text-decoration: none;
  color: #ff9c00;
}

#menu-bar a:hover {
  text-decoration: underline;
}

#menu-bar a.active {
  background-color: #ff9c00;
  text-decoration: none;
  color: black;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}

#container {
  max-width: 1000px;
  width: 100%;
}

#container h1 {
  font-size: 22pt;
  padding-top: 30px;
  margin: 10px;
}

.project {
  display: block;
  position: center;
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
  height: 300px;
  color: #ff9c00;
  text-decoration: none;
  position: relative;
  background-position: center;
  background-size: cover;
}

.project.p2 {
  background-image: url(assets/ultra-vires-insectum/ultra-vires-insectum-cover.png)
}

.project.p2:hover {
  background-image: url(assets/ultra-vires-insectum/ultra-vires-insectum-cover.gif)
}

.project.p1 {
  background-image: url(assets/proxy/proxy-cover.png);
}
.project.p1:hover {
  background-image: url(assets/proxy/proxy-cover.gif);
}

.content {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  position: relative;
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}

.content h3, .content p {
  position: static;
  margin: 0;
}
